html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 360px;
    height: 390px;
    display: flex;
    flex-direction: inherit;
  }
  
  .containerAbout {
    padding: 0 10px;
    right: 0;
    font-size: 13px;
  }
  
  .containerAbout::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .imgAbout {
    width: 140px;
    height: 140px;
  }
