  :root{
    --cor_principal: #2d65b9;
    --cor_secunda: #76afe4;
    --cor_btn: #808080;
    --cor_fundo: #ffffffaf;
}

body{
  background-color: var(--cor_fundo);
}

/*Carrosel BEGIN*/
.containerCsl{
    height: 650px;
    top: 0;
}

.carrosel {
    margin-top: 6px;
    padding: 0;
    display: flex;    
    justify-content: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slides{
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 1.2s; 
}

.slide img{
    width: 2400px;
    height: 800px;
}

#radio1:checked ~ .first{
    margin-left: 40%;
}

#radio2:checked ~ .first{
    margin-left: 20%;
}

#radio3:checked ~ .first{
    margin-left: 0%;
}

#radio4:checked ~ .first{
    margin-left: -20%;
}

.auto-navi {
    position: fixed;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    margin-left: 1580px;
    margin-top: 460px;
}

.auto-navi div{
    border: 2px solid var(--cor_principal);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-navi div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~.auto-btn-1{
    background-color: var(--cor_fundo);
}

#radio2:checked ~.auto-btn-2{
    background-color: var(--cor_fundo);
}

#radio3:checked ~.auto-btn-3{
    background-color: var(--cor_fundo);
}

#radio4:checked ~.auto-btn-4{
    background-color: var(--cor_fundo);
}

/* bloco */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 0;
    margin-top: 30px;
    margin-bottom: 16px;
    margin-left: 400px;
  }
  
  @media screen and (max-width: 720px) {
    .column {
      margin-left: 22%;
      width: 65%;
      display: block;
    }
    .overlay-content{margin-left: 35px;}
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 36px; margin-left: -50px;}
    .overlay .closebtn {
        font-size: 60px;
        top: 15px;
        right: 5px;
    }

    body{
      width: auto;
    }
  
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 310px;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .containerAbout {
    padding: 0 10px;
    right: 0;
    font-size: 16px;
  }
  
  .containerAbout::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img{
    height: 120px;
    width: 270px;
  }

  button{
    background-color: var(--corfundo);
    border: 2px;
    width: 220px;
    height: 30px;
    box-shadow: 1px 3px 4px 1px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
  }

  button:hover{
    background-color: #808080;
    border: 2px 6px 8px 2px;
    cursor: pointer;
  }
