:root{
    --cor_principal: #1f4dca;
    --cor_secunda: #76afe4;
    --cor_btn: #808080;
    --cor_fundo: #ffffffaf;
}

body{
    background-color: var(--cor_fundo);
    padding: 0;
    margin: 0;
}

/*Hud BEGIN*/
.hud{
    background: var(--cor_principal);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 1em;
    padding-left: 9em;
    padding-right: 40%;
}

.HUD-BAR{
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.logo a{
    font-size: none;
    font-weight: 600;
    color: var(--cor_secunda);
    text-decoration: none;
}

li{
    list-style: none; display: inline-block;
}

li a{
    color: var(--cor_secunda);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
/*Hud FIM*/