:root{
  --corPrincipal: #1f4dca;
  --corSecundaria: #76afe4;
  --corBtn: #808080;
  --corFundo: lightgray;
  --corInput: rgb(231, 228, 228);
}


html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 24%;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 420px;
    height: 290px;
    display: flex;
    flex-direction: inherit;
  }
  
  .containerAbout {
    padding: 0 10px;
    right: 0;
    font-size: 16px;
  }
  
  .containerAbout::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .imgAbout {
    width: 160px;
    height: 190px;
  }

  button{
    background-color: var(--corfundo);
    border: 1px 2px 3px;
    box-shadow: 2px 4px 4px;
    font-size: 20px;
    margin-top: 20px;
  }

  button:hover{
    cursor: pointer;
    background-color: var(--corSecundaria);
  }

  a{
    text-decoration: none;
    color: black;
  }
