:root{
    --corPrincipal: #2d65b9;
    --corSecundaria: #76afe4;
    --corBtn: #808080;
    --corFundo: lightgray;
    --corInput: white;
}

textarea{
    margin-top: 45px;
    margin-left: -335px;
    width: 650px;
    height: 350px;   
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header h1{
    text-align: center;
    margin-top: 50px;
    /* font-size: 50px; */
}

/* inicio da div para escrevre os feedbacks */

.escRev{
    background: var(--corFundo);
    border: 2px solid;
    border-color: black;
    height: 40em;
    width: 75em;
    margin: 5em 100px 100px 22em;
}

.inputs{
    display: flex;
}

.txtRev{
    text-align: center;
    padding: 15px;
}

.txtInput{
    display: flex;
    font-size: 20px;
}

/* inico div nome */
.divNome{
    display: flex;
}

.divNome .txtInput{
    margin-top: 1em;
}

.nome{
    display: flex;
    margin: 10px 1em 1em 23px;
    background: var(--corInput);
    height: 2em;
    width: 12em;
    font-size: 20px;
}

/* fim div nome */


/* inicio div serie*/
.divSerie{
    display: flex;
}

.divSerie .txtInput{
    margin-top: 25px;
}

.serie{
    display: flex;
    margin: 1em 1em 1em 33px;
    background: var(--corInput);
    height: 2em;
    width: 12em;
    font-size: 20px;
}

/* fim da div serie */


/* inicio div classe */
.divClasse{
    display: flex;
}

.divClasse .txtInput{
    margin-top: 25px;
}

.classe{
    display: flex;
    margin: 15px 1em 1em 1em;
    background: var(--corInput);
    height: 2em;
    width: 12em;
    font-size: 20px;
}

/* fim div classe */

.feed{
    display: flex;
}

.txtArea{
    display: block;
    margin: 0 0em 0em 0em;
    font-size: 20px;
}

#txtRevi{
    display: block;
    background: var(--corFundo);
    margin: 0 0em 0em 25em;
    font-size: 20px;
}

.botaoEnvio #btnEnviar{
    background: var(--corBtn);
    height: 2em;
    width: 7em;
    margin-top: 20px;
    margin-left: 490px;
    transition: 1s all;
    cursor: pointer;
}

/* fim dos escrever os feedback */

/*depoimentos BEGIN*/
.containerDepoimentos{
    background: var(--corFundo);
    display: flex;
    flex-direction: column;
    margin: 100px 100px 20em;
    padding: 4%;
    border: 2px solid black;
    overflow: scroll;
}

/*depoimentos END*/
