body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
}



.Corpo{
    Background: lightgray; 
    display: flex;
    flex-direction: column;
    height: 90.5%;
    width: 90.5%;
    margin: 1.8%;
    padding: 4%;
}


#img-sql{
    height: 560px;
    right: 50px; 
}
