:root{
    --cor_principal: #2d65b9;
    --cor_secunda: #76afe4;
    --cor_btn: #808080;
    --cor_fundo: #ffffffaf;
}

body{
    background-color: var(--cor_fundo);
    padding: 0;
    margin: 0;
}

.rodape{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color:var(--cor_secunda);
    text-align: center;
    padding: 10px 0;
}

.desgreaca{
    display: block;
    height: 90px;
}

/*txt BEGIN*/
h1.TitleG {
  text-align: center;
}

p.subTitleG {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

p.leitura {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

textarea{
  resize: none;
}
/*txt END*/

/*Hud GERAL BEGIN*/
/*Hud BEGIN*/
.hud{
    background: var(--cor_principal);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    height: 6em;
    width: 100%;
    top: 0;
    position: fixed;
  }


  .HUD-BAR{
    position: fixed;
  }

  .logo{
    position: fixed;
    top: 2.5em;
    left: 10em;
  }

.logo a{
    position: fixed;
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
  }

li{
    list-style: none; 
    position: fixed;
    right: 3em;
    top: 2em;
  }

li a{
    color: var(--cor_secunda);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

.imgLogo{
    width: 82px;
    height: 72px;
    position: fixed;
    top: 1em;
    left: 4em;
    border-radius: 50px;
  }

.imgLogo:hover{
  cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}
/*Hud FIM*/

/*Menu BEGIN*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/*Menu END*/
/*Hud GERAL END*/

/*rodape GERAL BEGIN*/
/*rodapeSocial BEGIN*/
*footer.footerContainer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerContainer{
  background-color: var(--cor_principal);
}

.containerRodape{
  width: 100%;
  box-shadow: 0px -1px 6px 0px rgba(0,0,0, 0.1);
  padding: 5px 15px 15px;
}

.rodapeSocial{
  display: flex;
  justify-content: center;
}

.rodapeSocial a{
  text-decoration: none;
  padding: 10px;
  background-color: var(--cor_secunda);
  margin: 10px;
  border-radius: 50%;
}

.rodapeSocial a i{
  font-size: 2em;
  color: var(--cor_fundo);
}
/*rodapeSocial END*/

/*rodapeHB BEGIN*/
.rodapeHB {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
/*rodapeHB END*/

/*rodapeHover BEGIN*/
.rodapeSocial a:hover{
  background-color: var(--cor_principal);
  transition: 0.5s;
}

.rodapeSocial a:hover{
  color: var(--cor_fundo);
  transition: 0s;
}

.rodapeHB > p{
  font-size: 24px;
}
/*rodapeHover END*/
/*rodape GERAL END*/

/*img BEGIN*/

#img-Code{ /*referente รก img's com codigos*/
  width: 60%;
}

#img-Result{ /*referente รก img's com resultados ou img's soltas*/
  width: 45%;
}

@media screen and (max-width: 720px) {
  .overlay-content{margin-left: 35px;}
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 50px; margin-left: -75px;}
  .overlay .closebtn {
      font-size: 60px;
      top: 15px;
      right: 5px;
  }   
  
  body{
    width: auto;
  } 
  .hud{
    width: 100%;
  }

}

/*img END*/
